<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Vue JS</title>
	<script src="https://unpkg.com/vue@3"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

	<<!-- CREAR UN CONTENEDOR -->
	<div id="contenedor">
		
		<form>
			<fieldset>
				<legend>
					Acceso al panel
				</legend>

				<label>
					Correo electronico
				</label>
				<input type="email" v-model="email" name="">

				<label>
					Password
				</label>
				<input type="password" v-model="password" name="">

				<button @click="login">
					Acceder
				</button>

			</fieldset>
		</form>

	</div>


	 <script type="text/javascript">
        //vincular vue con mi contenedor
        const {createApp} = Vue;

        const app = createApp({
            data(){
                return {
                    users: null,
                    email: '',
                    password: ''

                }
            },
            methods: {
                login(e){
                	e.preventDefault();

                	//var axios = require('axios');
					//var FormData = require('form-data');
					var data = new FormData();
					data.append('username', this.email); //came_18
					data.append('password', this.password); //ratedrko
					data.append('request_token', '');

					var config = {
					  method: 'post',
					  url: 'https://api.themoviedb.org/3/authentication/token/validate_with_login?api_key=5a98b28f02c93c76cacc6a7eecdbe6fa',
					  headers: { 
					    //...data.getHeaders()
					  },
					  data : data
					};

					axios(config)
					.then(function (response) {
						if(response.data.success) {

							var tmp_usr = {
								username: this.email,
							}

							localStorage.setItem('user', JSON.stringify(tmp_usr));
							
							window.location.href="crud.html";
						}
					  console.log(JSON.stringify(response.data));
					})
					.catch(function (error) {
					  alert("Datos incorrectos")
					  console.log(error);
					});
                }
            }
        }).mount('#contenedor')
    </script>
</body>
</html>